
body {
	background: rgb(222,238,174);
	background: radial-gradient(circle, rgba(222,238,174,1) 0%, rgba(118,204,127,1) 100%);
}
.card-container {
	/*border: 1px solid gray;*/
	margin-top: 5%;
	margin-bottom: 20px;
	font-family: "Georgia", Georgia, Serif;
}

.card-shadow {
	webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
}
.card-container h1 {
	font-size: 1.8em;
}
.card-container p {
	font-size: 1.0em;
}
.invitation-details {
	background-color: #FFF;
	opacity: 0.9;
	padding: 20px;
}
.row p {
	font-size: 1.1em;
}
.contact-link-separator {
	font-size: 1.4em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.contact-links {
	font-size: 1.0em;
	white-space:nowrap;
}
.contact-info {
	font-size: 0.8em;
	font-family: Lucida Console, Courier, monospace;
	margin-top: 2em;
	margin-bottom: 2em;
}
.contact-links i {
	padding-left: 0.2em;
	padding-right: 0.2em;
	font-size: 1.4em;
}
.contact-info-list {
	text-indent: -1em;
	padding-left: 2em; 
}
.viewport-scale {
    max-width:100%;
    max-height:100%;
    position:absolute;
    top:0; left:0; right:0; bottom:0;
    margin:auto;
}
